@page
@model BW_WEB.Pages.GTFS.CalendarDates.CalendarDateCRUDModel
@{
    ViewData["Title"] = "Calendar Dates";
    var token = Model.HttpContext.Session.GetString("JWToken");
}

<h2 class="mb-4">Calendar Dates</h2>

<!-- Estilos CSS -->
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

<!-- Scripts JS -->
@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

<!-- Script específico para Calendar Dates -->
@section PageScripts {
    <script src="~/js/GTFS-calendar-date.js"></script>
}

<div class="col-4">
    <div class="card">
        <div class="card-header">
            <h5 class="text-center">Seleccionar Versión:</h5>
        </div>
        <div class="col d-flex justify-content-center mt-2 mb-2">
            <form method="post">
                <select id="versionSelect" class="select2 form-select" style="width:85%" asp-for="SelectedVersionID" asp-items="Model.Versions" onchange="this.form.submit()">
                    <option value="">Seleccione una versión</option>
                </select>
            </form>
        </div>
    </div>
</div>

<br />

@if (Model.CalendarDatesByVersion != null && Model.CalendarDatesByVersion.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="calendarDatesTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th>Código Servicio</th>
                        <th>Fecha</th>
                        <th>Disponibilidad del Servicio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var calendarDate in Model.CalendarDatesByVersion)
                    {
                        <tr>
                            <td>@calendarDate.ServiceID</td>
                            <td>@calendarDate.Date.ToString("dd/MM/yyyy")</td>
                            <td>@calendarDate.ExceptionTypeDescripcion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Filtro de búsqueda</h5>
        </div>
        <div class="card-datatable table-responsive border-top">
            <table id="calendarDatesTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th>Código Servicio</th>
                        <th>Fecha</th>
                        <th>Disponibilidad del Servicio</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
}
