@model BW_WEB.Pages.Vehicle.VehicleModel

<div class="offcanvas offcanvas-end" tabindex="-1" id="createVehicleOffcanvas" aria-labelledby="createVehicleOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
        <h5 id="createVehicleOffcanvasLabel" class="offcanvas-title">Agregar Vehículo</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mx-0 flex-grow-0">
        <form id="createVehicleForm" class="add-new-vehicle" method="post">
            <div class="mb-6">
                <label for="Vehicle_vehicle_id" class="form-label">Vehículo Id</label>
                <input asp-for="Vehicle.vehicle_id" class="form-control" id="Vehicle_vehicle_id" placeholder="" aria-label="Vehicle Id" />
            </div>
            <div class="mb-6">
                <label for="Vehicle_license_plate" class="form-label">Matrícula</label>
                <input asp-for="Vehicle.license_plate" class="form-control" id="Vehicle_license_plate" placeholder="" aria-label="License Plate"  />
            </div>
            <div class="mb-6">
                <label for="Vehicle_label" class="form-label">Etiqueta</label>
                <input asp-for="Vehicle.label" class="form-control" id="Vehicle_label" placeholder="My Car" aria-label="Label"  />
            </div>
            <div class="mb-6">
                <label for="Vehicle_Vehicle_type_id" class="form-label">Tipo Vehiculo</label>
                <select asp-for="Vehicle.Vehicle_type_id" asp-items="Model.VehicleTypes" class="form-select" id="Vehicle_Vehicle_type_id" >
                    <option value="" disabled selected>Select Type</option>
                </select>
            </div>
            <div class="mb-6">
                <label for="Vehicle_EmpresaID" class="form-label">Empresa</label>
                <select asp-for="Vehicle.EmpresaID" asp-items="Model.EmpresaList" class="form-select" id="Vehicle_EmpresaID" >
                    <option value="" disabled selected>Select Company</option>
                </select>
            </div>
            <div class="mb-6">
                <label for="Vehicle_VehicleStatus" class="form-label">Empresa</label>
                <select asp-for="Vehicle.Vehicle_status_type_id" asp-items="Model.VehicleStatus" class="form-select" id="Vehicle_VehicleStatus">
                    <option value="" disabled selected>Select Company</option>
                </select>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary me-3">Crear</button>
                    <button type="reset" class="btn btn-label-danger" data-bs-dismiss="offcanvas">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
